<main>
<div class='sale_form'>
<%= form_with model: @weapon do |f| %>
    <div class="d-flex flex-column align-items-center">
    <h5>How much gold would you like to sell this weapon for?</h5>
    <p><%= f.text_field :price %></p>
    <p><%= f.submit %></p>
    </div>
<% end %>
</div>
<div class="d-flex justify-content-center">
    <p>Approximate Valuation: <%="#{@value}"%> Gold</p>
</div>
<div class="d-flex justify-content-center">
    <%= link_to "<< Back", root_path %>
</div>
</main>
