<main>
<div class="container">
  <div class="row">
    <h1><%= @weapon.name %></h1>
  </div>
  <div class="row">
    <div class="col-sm">
        <p>Damage: <%= @weapon.type.damage + (@weapon.quality.modifier * 2) + @weapon.type.durability - @weapon.uses %></p>
        <p>Durability: <%= @weapon.type.durability + @weapon.quality.modifier - @weapon.uses %>/<%= @weapon.type.durability + @weapon.quality.modifier %></p>
        <% unless @weapon.enchant.nil? %>
          <p>Enchantment Type: <%= @weapon.enchant.imbue.capitalize %></p>
        <% end %>
        <% unless @item.price.nil? %>
          <p>Price: <%= @item.price %> Gold</p>
        <% end %>
    </div>
    <div class="col-sm">
        <% if @weapon.image.attached? %>
            <%= cl_image_tag @weapon.image.key, crop: :scale, height: 150, cloud_name: 'bbart121' %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <p>
        <%= link_to "<< Back", root_path %>
        <% unless @weapon.price.nil? %>
        |
        <%= link_to "Buy Weapon", buy_weapon_path(@weapon.id) %>
        <% end %>
        <% if @weapon.price.nil? && @weapon.hero_id == @hero.id %>
        |
        <%= link_to "Sell Weapon", sell_weapon_path(@weapon.id) %>
        <% end %>
        <% if policy(@weapon).edit? %>
            |
            <%= link_to "Edit", edit_weapon_path(@weapon) %>
        <% end %>
        <% if policy(@weapon).destroy? %>
            |
            <%= link_to "Destroy", @weapon, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    </p>
  </div>
</div>
</main>