<main>
<div class="container">
  <div class="row">
    <h1><%= @weapon.name %></h1>
  </div>
  <div class="row">
    <div class="col-sm">
        <p>Damage: <%= @weapon.type.damage + (@weapon.quality.modifier * 2) %></p>
        <p>Durability: <%= @weapon.type.durability + @weapon.quality.modifier - @weapon.uses %>/<%= @weapon.type.durability + @weapon.quality.modifier %></p>
        <% unless @weapon.enchant.nil? %>
        <p>Enchantment Type: <%= @weapon.enchant.imbue.capitalize %></p>
        <% end %>
    </div>
    <div class="col-sm">
        <% if @weapon.image.attached? %>
            <%= cl_image_tag @weapon.image.key, crop: :scale, height: 150, cloud_name: 'bbart121' %>
        <% end %>
    </div>
  </div>
  <div class="row">
    <p>
        <%= link_to "<< Back", root_path %>
        <% if policy(@weapon).edit? %>
            |
            <%= link_to "Edit", edit_weapon_path(@weapon) %>
        <% end %>
        <% if policy(@weapon).destroy? %>
            |
            <%= link_to "Destroy", @weapon, method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    </p>
  </div>
</div>
</main>