<div class='header'>
<h1>Marketplace</h1>
</div>
<nav class='topnav'>
    <span>
    <%= link_to "Go Questing", questing_path %>
    </span>
    <span>
    <% if user_signed_in? %>
        <%= "#{current_user.hero.name} | #{current_user.hero.renown} Renown" %>
        |
        <%= link_to 'Logout', destroy_user_session_path, method: 'delete' %>
    <% else %>
        <%= link_to 'Login', new_user_session_path %>
        |
        <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
    </span>
</nav>